@keyframes appearDropdown {
  to {
    top: 105%;
    opacity: 1;
  }
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: #ffffff;
  background-color: #121b25;
}
body._lock {
  overflow: hidden;
}

a {
  text-decoration: none;
}

* img {
  max-width: 100%;
}

[class*=__container] {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  margin-top: clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem);
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}
@media (max-width: 350px) {
  .header__logo {
    width: 100px;
  }
}
.header__buttons {
  column-gap: 5px;
}
.header__btn {
  padding: 10px 30px;
  border: 1px solid #1aa090;
  font-weight: 500;
  color: #d6d6d6;
  transition-property: background-color color;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}
.header__btn:hover {
  color: #ffffff;
  background-color: #1aa090;
}
@media (max-width: 576px) {
  .header__btn {
    padding: 7px 15px;
  }
  .header__btn.login {
    display: none;
  }
}

.hero {
  margin-top: clamp(1.25rem, -0.114rem + 6.82vw, 5.938rem);
}
@media (min-width: 1300px) {
  .hero::after {
    content: "";
    position: absolute;
    right: 0;
    top: 530px;
    height: 482px;
    width: 120px;
    background: url(../img/icon/hero-decor.svg);
  }
}
.hero__container {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
@media (max-width: 992px) {
  .hero__container {
    flex-direction: column;
    row-gap: 20px;
  }
}
.hero__content {
  position: relative;
  flex: 0 0 50%;
  padding-bottom: 160px;
}
@media (max-width: 576px) {
  .hero__content {
    padding-bottom: 0;
  }
}
.hero__title {
  font-weight: 600;
  font-size: clamp(1.875rem, 1.184rem + 3.45vw, 4.25rem);
  line-height: 1.26;
  text-transform: capitalize;
}
.hero__description {
  margin-top: 18px;
}
.hero__filter {
  position: absolute;
  margin-top: 60px;
  width: 890px;
  height: 100px;
  background-color: #ffffff;
}
@media (max-width: 992px) {
  .hero__filter {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .hero__filter {
    margin-top: 25px;
  }
}
@media (min-width: 730px) and (max-width: 992px) {
  .hero__img {
    display: none;
  }
}

.featured {
  padding-top: clamp(5.625rem, 3.989rem + 8.18vw, 11.25rem);
  padding-bottom: clamp(5.625rem, 3.989rem + 8.18vw, 11.25rem);
}
.featured__brands {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
  overflow: auto;
}
@media (max-width: 576px) {
  .featured__brands {
    flex-direction: column;
  }
}
.featured__brand {
  flex: 0 0 auto;
}

.popular {
  padding-top: clamp(5.625rem, 4.352rem + 6.36vw, 10rem);
  padding-bottom: clamp(5.625rem, 4.352rem + 6.36vw, 10rem);
  background: #1a242f url(../img/residence/residence-bg.png) no-repeat center center/cover;
}
.popular__container {
  position: relative;
}
.popular__swiper {
  margin-top: clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem);
}
.popular-slide__name {
  margin-top: 22px;
  font-weight: 600;
  font-size: 1.625rem;
  line-height: 1.26;
  text-transform: capitalize;
}
.popular-slide__location {
  margin-top: 3px;
  font-size: 1.125rem;
  line-height: 1.7;
  color: #d6d6d6;
}
.popular-slide__characteristics {
  margin-top: clamp(0.5rem, 0.355rem + 0.73vw, 1rem);
}
.popular__slider-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: clamp(0.938rem, 0.483rem + 2.27vw, 2.5rem);
}
@media (max-width: 425px) {
  .popular__slider-buttons_top {
    display: none;
  }
}
.popular__slider-buttons_bottom {
  display: none;
}
@media (max-width: 425px) {
  .popular__slider-buttons_bottom {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    column-gap: 60px;
  }
}
.popular__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular__button {
  width: clamp(3.125rem, 2.616rem + 2.55vw, 4.875rem);
  height: clamp(3.125rem, 2.616rem + 2.55vw, 4.875rem);
  border-radius: 50%;
  border: 1px solid #a9adb1;
  background: url(../img/icon/arrow-slider.svg) no-repeat center right 51%;
  cursor: pointer;
}
.popular__button-next {
  transform: rotate(180deg);
}
.popular__button.swiper-button-disabled {
  opacity: 0.5;
  cursor: initial;
}
.popular__button-link {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: clamp(1.25rem, 0.377rem + 4.36vw, 4.25rem);
}

.characteristics {
  display: flex;
  align-items: center;
  column-gap: clamp(0.75rem, 0.605rem + 0.73vw, 1.25rem);
}
.characteristics div {
  display: flex;
  align-items: center;
  font-size: 1rem;
  line-height: 1.1875rem;
  text-transform: capitalize;
  color: #ffffff;
}
.characteristics div::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 4px;
}
.characteristics__bed::before {
  background-image: url(../img/icon/residence/double-bed.svg);
}
.characteristics__bath::before {
  background-image: url(../img/icon/residence/bath.svg);
}
.characteristics__sqft::before {
  background-image: url(../img/icon/residence/vector-square.svg);
}

.choose {
  padding-top: clamp(5.625rem, 4.352rem + 6.36vw, 10rem);
  padding-bottom: clamp(5.625rem, 4.352rem + 6.36vw, 10rem);
}
.choose__title {
  text-align: center;
}
.choose__list {
  display: flex;
  justify-content: center;
  column-gap: clamp(1.25rem, -0.205rem + 7.27vw, 6.25rem);
  margin-top: clamp(1.25rem, 0.523rem + 3.64vw, 3.75rem);
  list-style-type: none;
}
@media (max-width: 768px) {
  .choose__list {
    flex-direction: column;
    row-gap: clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem);
  }
}
.choose__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(6.25rem, 4.795rem + 7.27vw, 11.25rem);
  height: clamp(6.25rem, 4.795rem + 7.27vw, 11.25rem);
  border-radius: 50%;
  background-color: #1a504a;
}
.choose__img img {
  width: 40%;
}
.choose__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-basis: 33%;
}
@media (max-width: 768px) and (min-width: 552px) {
  .choose__item {
    padding-left: clamp(1.875rem, -6.111rem + 23.15vw, 5rem);
    padding-right: clamp(1.875rem, -6.111rem + 23.15vw, 5rem);
  }
}
.choose__item-title {
  margin-top: clamp(1.25rem, 0.959rem + 1.45vw, 2.25rem);
  font-weight: 600;
  font-size: 1.625rem;
  line-height: 1.26;
  text-transform: capitalize;
}
.choose__item-description {
  margin-top: 11px;
  color: #d6d6d6;
  font-size: 1.125rem;
  line-height: 1.7;
}

.begin {
  padding-top: clamp(2.5rem, -0.045rem + 12.73vw, 11.25rem);
  padding-bottom: clamp(2.5rem, -0.045rem + 12.73vw, 11.25rem);
}
.begin__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1275px;
  column-gap: 150px;
}
@media (max-width: 968px) {
  .begin__container {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .begin__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.begin__title {
  flex: 0 0 425px;
  font-weight: 600;
  font-size: 4.25rem;
  line-height: 1.26;
  text-transform: capitalize;
}
@media (max-width: 968px) {
  .begin__title {
    flex: initial;
  }
}
@media (max-width: 480px) {
  .begin__title {
    margin-bottom: 10px;
    font-size: 3rem;
    text-align: center;
  }
}
.begin__description {
  font-size: 1.125rem;
  line-height: 1.7;
  color: #d6d6d6;
}
.begin__button {
  margin-top: clamp(1.25rem, 0.559rem + 3.45vw, 3.625rem);
}

.navigation {
  z-index: 5;
}
.navigation__list {
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: clamp(1.25rem, -0.222rem + 3.07vw, 2.5rem);
}
@media (max-width: 992px) {
  .navigation__list {
    flex-direction: column;
    column-gap: 0;
    justify-content: center;
  }
}
.navigation__link {
  position: relative;
  display: inline-block;
  padding: 4px 0px;
  color: #d6d6d6;
  font-weight: 500;
  text-transform: capitalize;
  transition: color 0.4s ease;
}
.navigation__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #1aa090;
  opacity: 0;
  transition: opacity 0.4s ease;
}
@media (any-hover: hover) {
  .navigation__link:hover {
    color: #ffffff;
  }
  .navigation__link:hover::after {
    opacity: 1;
  }
}
@media (max-width: 992px) {
  .navigation__link {
    font-size: 1.875rem;
    line-height: 50px;
  }
}
.navigation-icon {
  display: none;
}
@media (max-width: 992px) {
  .navigation-icon {
    position: relative;
    display: block;
    height: 18px;
    width: 30px;
    cursor: pointer;
    z-index: 5;
  }
  .navigation-icon .navigation__line {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition-property: transform top bottom;
    transition-duration: 0.4s;
    transition-timing-function: ease;
  }
  .navigation-icon .navigation__line:first-child {
    top: 0;
  }
  .navigation-icon .navigation__line:last-child {
    top: auto;
    bottom: 0;
  }
  .navigation-icon._active .navigation__line {
    transform: scale(0);
  }
  .navigation-icon._active .navigation__line:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .navigation-icon._active .navigation__line:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}
@media (max-width: 350px) {
  .navigation-icon {
    width: 25px;
  }
}
@media (max-width: 992px) {
  .navigation {
    position: absolute;
    top: 0;
    left: -100%;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 80vw;
    background-color: #1aa090;
    overflow: auto;
    transition: left 0.4s ease;
  }
  .navigation._active {
    left: 0;
  }
}

.description {
  color: #d6d6d6;
  font-size: 1.125rem;
  line-height: 1.875rem;
}

.filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 165px;
  color: #000;
}
.filter__btn {
  padding: 5px;
}
.filter__btn button {
  width: 100%;
  height: 100%;
  background-color: #1aa090;
  border: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-transform: capitalize;
  cursor: pointer;
}
.filter__btn button:active {
  background-color: #1a8074;
}
@media (max-width: 576px) {
  .filter__btn button {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media (max-width: 576px) {
  .filter {
    height: auto;
    position: static;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

.block-filter {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem);
}
@media (max-width: 576px) {
  .block-filter {
    padding: 15px;
  }
  .block-filter:not(:first-child) {
    border-top: 1px solid #e8e8e8;
  }
}
.block-filter__type {
  color: #858585;
}
.block-filter__type::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 6px;
  margin-left: 5px;
  margin-bottom: 1px;
  background: url("../img/icon/arrow-dropdown.svg");
  transition: transform 0.4s ease;
}
.block-filter__type._active::after {
  transform: rotate(180deg);
}
.block-filter__button {
  cursor: pointer;
}
.block-filter__value {
  color: #121b25;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.26;
  text-transform: capitalize;
}
.block-filter__dropdown {
  position: absolute;
  left: 2%;
  right: 2%;
  top: 100%;
  display: none;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  background-color: #ffffff;
  border: 4px solid #1aa090;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  opacity: 0;
  z-index: 1;
}
.block-filter__dropdown_active {
  display: flex;
  animation: appearDropdown 0.4s ease forwards;
}
.block-filter__item {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.4s ease;
}
.block-filter__item:hover {
  background-color: #d6d6d6;
}
.block-filter:not(:first-child):not(:last-child) {
  border-left: 1px solid #e8e8e8;
}

.section-title {
  display: block;
  color: #ffffff;
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.26;
  text-transform: capitalize;
  text-align: left;
}

.button {
  display: inline-block;
  padding: 22px 42px;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-transform: capitalize;
  background-color: #1aa090;
}
.button:active {
  background-color: #1a8074;
}/*# sourceMappingURL=style.css.map */