.hero {
	// values: 		min 20px 	max 95px
	// viewport:	min 320px max 1420px
	margin-top: clamp(1.25rem, -0.114rem + 6.82vw, 5.938rem);

	@media (min-width: 1300px) {
		&::after {
			content: "";
			position: absolute;
			right: 0;
			// top: 60%;
			top: 530px;

			height: 482px;
			width: 120px;
			background: url(../img/icon/hero-decor.svg);
		}
	}
	&__container {
		display: flex;
		align-items: center;
		column-gap: 20px;

		@media (max-width: 992px) {
			flex-direction: column;

			row-gap: 20px;
		}
	}

	&__content {
		position: relative;
		flex: 0 0 50%;
		padding-bottom: 160px;

		@media (max-width: 576px) {
			padding-bottom: 0;
		}
	}

	&__title {
		font-weight: 600;
		// values: 		min 30px 	max 68px
		// viewport:	min 320px max 1420px
		font-size: clamp(1.875rem, 1.184rem + 3.45vw, 4.25rem);
		line-height: 1.26;

		text-transform: capitalize;
	}

	&__description {
		margin-top: 18px;
	}

	&__filter {
		position: absolute;
		margin-top: 60px;
		width: 890px;
		height: 100px;

		background-color: $color-white-main;

		@media (max-width: 992px) {
			width: 100%;
		}
		@media (max-width: 576px) {
			margin-top: 25px;
		}
	}

	&__img {
		@media (min-width: 730px) and (max-width: 992px) {
			display: none;
		}
	}
}
