.button {
	display: inline-block;
	padding: 22px 42px;

	color: $color-white-main;
	font-weight: 500;
	font-size: toRem(24px);
	line-height: toRem(28px);
	text-transform: capitalize;

	background-color: var(--color-accent);

	transition: background-color $transition-duration $transition-timing-function;
	&:hover {
		background-color: var(--color-accent-darken);
	}
}
