*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $font-main;
	font-weight: 400;
	color: $color-white-main;

	background-color: $color-bg;

	&._lock {
		overflow: hidden;
	}
}

a {
	text-decoration: none;
}

* img {
	max-width: 100%;
}
