// $color-accent: #1aa090;
$color-bg: #121b25;

$color-white-main: #ffffff;
$color-white-additional: #d6d6d6;

$font-main: "Work Sans", sans-serif;

$transition-duration: 0.4s;
$transition-timing-function: ease;

:root {
	--color-accent: #951aa0;
	--color-accent-darken: #48124d;
}
